.env

#ui things
ui/.DS_Store
ui/node_modules
ui/build
ui/.svelte-kit
ui/package
ui/vite.config.js.timestamp-*
ui/vite.config.ts.timestamp-*
ui/src/node_modules

ui2/.DS_Store
ui2/node_modules
ui2/build
ui2/.svelte-kit
ui2/package
ui2/vite.config.js.timestamp-*
ui2/vite.config.ts.timestamp-*
ui2/src/node_modules

#backend things
backend/api/temp_files/**/*
OP-backend/api/temp_files/**/*

#infrastructure things
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.tfstate.lock.info