.env
.DS_Store

#ui things
ui/.DS_Store
ui/node_modules
ui/build
ui/.svelte-kit
ui/package
ui/vite.config.js.timestamp-*
ui/vite.config.ts.timestamp-*
ui/src/node_modules

#backend things
backend/api/temp_files/**/*
backend-OP/api/temp_files/**/*
backend-OP/lib

#infrastructure things
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.tfstate.lock.info
lambda.zip